# ${plugin.name} Main Configuration
# ${plugin.name} - ${description}

###########################################################################
##                        ENVIRONMENT INFORMATION                        ##
##    This is to make life easier since we have multiple environments    ##
##                                                                       ##
##   Scope: "" (scope [tm/lobby/etc] of servers where                    ##
##              this config is used)                                     ##
##                                                                       ##
##   Production: true (Active on production servers)                     ##
##                                                                       ##
##   Complete: true (if the file is a full configuration.                ##
##                    If false, parent/children configs are needed)      ##
##                                                                       ##
##   Notes: Any special notes about this file                            ##
##          Ex: Children need to define "foo" in order                   ##
##              for the file to be complete.                             ##
##                                                                       ##
###########################################################################

chat:
  quick-chat:
    matchers:
      lol: "Epic message"
component-configs:
  project-ares:
    maps:
      selection-mode: manual
      libraries:
        - path: /minecraft/maps
          ignored-directories: []
    ctw:
      start-wools: 5
      wools-per-kill: 3
  uhc:
    config-location: /minecraft/maps/uhc/
    worlds-root: /uhc
# If the server should automatically shut down after a match ends
shutdown-after-end: true